<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Home</title>
    <style>
      .green {
          background-color: green;
      }
      .red {
          background-color: red;
      }
    </style>
  </head>
  <body>
    {% include 'Navbar.html' %}
    <div class="container">
      <h1>Analysis Page</h1>
      <p>This is my own analysis page to determine if I should buy a stock or not.</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-100">
            <img src="/static/images/hammer.png" class="card-img-top" alt="hammer">
            <div class="card-body">
              <h5 class="card-title">Hammer</h5>
              <p class="card-text">A hammer is a bullish reversal candlestick pattern that 
                shows a rejection of a bearish trend. The body of the candlestick is 
                short with a longer lower wick.</p>
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Click me to open modal</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-100">
            <img src="/static/images/bullish-engulfing.png" class="card-img-top" alt="hammer">
            <div class="card-body">
              <h5 class="card-title">Bulling Engulfing</h5>
              <p class="card-text">A bullish engulfing pattern is a candlestick pattern that 
                forms when a small black candlestick is followed the next day by a large white candlestick, 
                the body of which completely overlaps or engulfs the body of the previous day's candlestick.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-100">
            <img src="/static/images/inverted-hammer.png" class="card-img-top" alt="hammer">
            <div class="card-body">
              <h5 class="card-title">Inverted Hammer</h5>
              <p class="card-text">The inverted hammer candlestick pattern (or inverse hammer) 
                is a candlestick that appears on a chart when there is pressure from buyers to push 
                an asset's price up. It often appears at the bottom of a downtrend, signalling
                potential bullish reversal.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-100">
            <img src="/static/images/morning-star.png" class="card-img-top" alt="hammer">
            <div class="card-body">
              <h5 class="card-title">Morning Star</h5>
              <p class="card-text">A morning star is a visual pattern consisting of three candlesticks that are
                interpreted as bullish signs by technical analysts. 
                A morning star forms following a downward trend and it indicates the start of an upward climb.</p>
            </div>
          </div>
        </div>
        {% for pattern in candlesticks %}
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">TA-TAlib</h5>
              <button data-bs-toggle="modal" data-bs-target="#myModal" class="btn btn-primary" type="submit" name="pattern" value="{{ pattern }}">{{ pattern }}</button>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  {% for stock in data %}
                    <a href="http://localhost:5000/analysis?param={{pattern}}&param2={{stock.id}}" class="btn btn-primary" value="">{{stock.name}}</a>
                  {% endfor %}
                  <p>This is a modal!</p>
                  <a href="http://localhost:5000/analysis?param=hammer" class="btn btn-primary">Click here to continue</a>
              </div>
          </div>
      </div>
    </div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>

    </script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>