<nav class="navbar navbar-expand-md" style="background: aquamarine;">
    <div class="container">
        <a href="/" class="navbar-brand">Stock Market Screener</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Expand Navigation">
            <span class="navbar-toggler-icon" style="background-color: black;"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="stock" class="nav-link">SQL</a>
                </li>
                <li class="nav-item">
                    <a href="fortune500" class="nav-link">CSV</a>
                </li>
                <li class="nav-item">
                    <a href="analysis" class="nav-link">ANALYSIS</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


